<%= stylesheet_link_tag "splash" %>
<%= javascript_include_tag "splash" %>
<% provide(:title, "Sign in") %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h1>
				<div id="syllabest">
					Sylla<span class="accent">best</span>.
				</div>
			</h1>
		</div>
	</div>
	<div class="row user_prompt">
		<div class="col-md-12 col-sm-12">
			<div class="row" id="returning_user">
				<div class="col-md-4 col-sm-4"></div>
				<div class="col-md-2 col-sm-2 prompt">
					Sign In
				</div>
				<div class="col-md-6 col-sm-6"></div>
			</div>
			<div class="row" id="sign_in_row">
				<div class="col-md-4 col-sm-4"></div>
				<div class="col-md-4 col-sm-4 accent" id="sign_in">
    				<%= bootstrap_form_for(:session, url: signin_path, layout: :horizontal, label_col: "col-md-3 col-sm-3", control_col: "col-md-9 col-sm-9") do |f| %>
      					<%= f.email_field :email %>
      					<%= f.password_field :password %>
      				    <%= f.submit "Sign in", class:"btn syllabutton"%>
    				<% end %>
				</div>
				<div class="col-md-4 col-sm-4"></div>
			</div>
		</div>
	</div>
</div>
