<% provide(:title, "Sign in") %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h1 style="text-align:center">
				<div id="syllabest">
					Sylla<span class="accent">best</span>.
				</div>
			</h1>
		</div>
	</div>
	<div class="row user_prompt">
		<div class="col-md-12 col-sm-12">
			<div class="row" id="returning_user">
				<div class="col-md-4 col-sm-4"></div>
				<div class="col-md-2 col-sm-2 prompt">
					Sign In
				</div>
				<div class="col-md-6 col-sm-6"></div>
			</div>
			<div class="row" id="sign_in_row">
				<div class="col-md-4 col-sm-4"></div>
				<div class="col-md-4 col-sm-4 accent" id="sign_in">
				<% if flash[:danger] -%>
				  <div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert">&times;</a><%= flash[:danger]%></div>
				<% end -%>
    				<%= bootstrap_form_for(:session, url: signin_path, layout: :horizontal, label_col: "col-md-3 col-sm-3", control_col: "col-md-9 col-sm-9") do |f| %>
      					<%= f.email_field :email, spellcheck:"false" %>
      					<%= f.password_field :password %>
  				    	<%= f.submit "Sign in", class:"btn syllabutton"%>
  				    	<div class="btn syllabutton", id="cancel_signin">
  				    		<%= link_to "Cancel", "/" %>
  				    	</div>
    				<% end %>
				</div>
				<div class="col-md-4 col-sm-4"></div>
			</div>
		</div>
	</div>
	<div class="row cc_license">
		<div class="col-md-12 col-sm-12">
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
				<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png", class="cc_img" />
			</a>
			<br />
			<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Syllabest</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
		</div>
	</div>
</div>
