<td><%= syllabus.get("title") %></td>
<td><%= syllabus.get("department") %></td>
<td><%= syllabus.get("course_num") %></td>
<td><%= syllabus.get("section_num") %></td>
<td><%= syllabus.get("course_type") %></td>
<td><%= syllabus.get("term") %></td>
<td><%= syllabus.get("location") %></td>
<td><button type="button" class="btn btn-default" id="view_syllabus">View</button></td>