<td><%= syllabus.get("first_name") %></td>
<td><%= syllabus.get("last_name") %></td>
<td><%= syllabus.get("email") %></td>
<td><%= syllabus.get("school") %></td>
<td><%= syllabus.get("office") %></td>
<td><button type="button" class="btn btn-default" id="view_syllabus">View</button></td>