<h1> Displaying user data </h1>

<table>
	<tr>
		<td><b> First Name: </b>&nbsp</td>
		<td><%= @user.first_name %></td>
	</tr>
	<tr> 
		<td><b> Last Name: </b></td>
		<td><%= @user.last_name %></td>
	</tr>
	<tr>
		<td><b> Email: </b></td>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<td><b> Password: </b></td>
		<td><%= @user.password %></td>
	</tr>
	<tr>
		<td><b> School: </b></td>
		<td><%= @user.school %></td>
	</tr>
	<tr>
		<td><b> Office: </b></td>
		<td><%= @user.office %></td>
	</tr>
</table>

<br>
<%= link_to 'Syllabuses', user_syllabuses_path(@user) %>
<%= link_to 'Back', users_path %>

