<h1> displaying user data </h1>
<table>
	<tr>
		<th> First Name </th>
		<th> Last Name </th>
		<th> Email </th>
		<th> Password </th>
		<th> School </th>
		<th> Office </th>
	</tr>
	<tr>
		<td><%= @user.first_name %></td>
		<td><%= @user.last_name %></td>
		<td><%= @user.email %></td>
		<td><%= @user.password %></td>
		<td><%= @user.office %></td>
		<td><%= @user.school %></td>
	</tr>
</table>