<h1>Add a new plain text component</h1>

<%= form_for :plaintext, url: user_syllabus_component_plaintext_path(@component) do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :contents %>
<%= f.text_area :contents %>
</p>

<p>
<%= f.submit %>
</p>
<% end %>


