<p>
  <b>First name:</b>
  <%= first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= last_name %>
</p>

<p>
  <b>Email:</b>
  <%= email %>
</p>

<p>
  <b>Password:</b>
  <%= password %>
</p>

<p>
  <b>School:</b>
  <%= school %>
</p>

<p>
  <b>Office:</b>
  <%= office %>
</p>


<a href="#/index">Back</a>