<td><%= user.get("first_name") %></td>
<td><%= user.get("last_name") %></td>
<td><%= user.get("email") %></td>
<td><%= user.get("school") %></td>
<td><%= user.get("office") %></td>
<td><button type="button" class="btn btn-default" id="view_user">View</button></td>
<td><button type="button" class="btn btn-default" id="delete_user">Delete</button></td>